.img img {
    height: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

.flex .content:last-child .img img {
    height:75%;
}

.sound {
    display:inline-block;
}

@media screen and (max-width: 540px) {

    .flex .content:last-child .img img {
        height:75%;
        width:auto;
    }

    .flex .content .img {
        height:calc(70vh - 10rem);
        margin:3em auto;
        position: relative;
    }

    .img img {
        height:calc(70vh - 10rem);
    }

}