/*font-family: 'Ubuntu', sans-serif; */
/*font-family: 'Orbitron', sans-serif;*/ 

* {
    margin:0;
    padding:0;
    /*border:solid 1px black;*/
}

html {
    font-family: 'Ubuntu', sans-serif; 
    color:rgb(131, 131, 131);
}

p {
    margin-top:1em;
}

.container{
    width:80%;
    margin:auto;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    color:black;
    font-size: 3rem;
    display:inline;
}


button {
    border:none;
    background:transparent;
}

h2 {
    color:black;
    font-size: 2rem;
}

h3 {
    color:rgb(131, 131, 131);
    font-size:2rem;
}

h1 span, h2 span{
    color:rgb(131, 131, 131);
    font-size: 0.6em;
}

.generic {
    color:rgb(131, 131, 131);
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
}

.prime {
    color:red;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
}

.tuff {
    color:green;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
}

.base {
    color:orangered;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
}

a {
    color:darkblue;
    text-decoration: none;
}

header {
    /*overflow:hidden;*/
    position: fixed;
    top:0;
    width:100%;
    background-color: white;
    z-index: 1;
}

nav {
    float:right;
    /*text-align: right;*/
    margin-top:2em;
}

nav a {
    display: inline;
}

.dropdown {
    display:inline;
}

nav a {
    color:grey;
    text-decoration: none;
    border-right:solid 0.1em rgb(131, 131, 131);
    padding: 0 1em;
    height:1em;
}

nav a:last-child {
    border-right:none;
}

nav a:hover{
    color:black;
}

section {
    min-height:calc(100vh - 5em);
    padding-top: 5em;
    /*margin-top:10;*/
}

section:first-of-type{
    margin-top:0;
}

.flex {
    display: flex;
    height:100%;
    min-height:20em;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
}

.flex img {
    height:calc(100vh - 10rem);
    /*min-height: 10rem;*/
}

.flex .content {
    text-align: center;
    height:70vh;
}

.flex .content .img {
    height:calc(70vh - 10rem);
    margin:3em auto;
    position: relative;
    min-height: 10rem;
}

.dropdown {
    position: relative;
    display:inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: white;
    min-width:5em;
    z-index: 1;
    width:100%;
}

.dropdown-content a {
    display:block;
    padding: 0.5em 1em;
    text-align: left;
    border-bottom:solid 1px grey;

}

.dropdown:hover .dropdown-content {
    display:block;
}

/*
.img img {
    height: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

.flex .content:last-child .img img {
    height:75%;
}*/

footer {
    margin-top:5em;
    background-color: grey;
    color:black !important;
}

footer ul {
    padding:2em;
    display:inline-block;
    list-style-type: none;
}

footer ul li {
    padding-left:1em;
}

@media screen and (max-width: 1100px) {
    .container {
        width:90%;
    }

    nav {
        margin-top:0.5em;
        float: none;
    }
    section {
        padding-top:7em;
    }

}

@media screen and (max-width: 540px) {
    .container {
        width:95%;
    }

    nav .active {
        display:none;
    }

    nav li{
        font-size: 0.75em;
    }

    .flex {
        flex-direction:column;
    }

    .flex .text{
        order: 99;
    }

    .flex img {
        min-height: auto;
    }

    h1 {
        font-size: 2rem;
    }

    h1 span, h2 span{
        font-size: 0.6em;
    }


    /*.flex .content:last-child .img img {
        height:75%;
        width:auto;
    }

    .flex .content .img {
        height:calc(70vh - 10rem);
        margin:3em auto;
        position: relative;
    }

    .img img {
        height:calc(70vh - 10rem);
    }*/

}

@media screen and (max-height: 540px) {
    section {
        padding-top: 6em;
    }
}

/*    CCCCCCCCCC      SSSSSSSSS      SSSSSSSSS
    CCCCCCCCCCCCC    SSSSSSSSSSS    SSSSSSSSSSS
    CCCCC    CCCC   SSSS     SSSS  SSSS     SSSS
    CCCC            SSSS           SSSS
    CCCC             SSSSSSSSS      SSSSSSSSS
    CCCC               SSSSSSSSS      SSSSSSSSS
    CCCC                     SSSS           SSSS
    CCCCC    CCCC   SSSS     SSSS  SSSS     SSSS
    CCCCCCCCCCCCC    SSSSSSSSSSS    SSSSSSSSSSS
      CCCCCCCCCC      SSSSSSSSS      SSSSSSSSS

      Over 500 people a day have CSS problems.
              Please Donate Today.
        No One should have to deal with CSS.

*/